@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

/*Jumbotron Section*/

.jumbotron {
  background: url(https://content.codecademy.com/courses/learn-bootstrap-4/adhoc/jumbotron.png?_gl=1*9tmzpa*_ga*NzUzODk2ODkwLjE2NDUyODM5MjI.*_ga_3LRZM6TM9L*MTY1NzMzODUzNS4xMzkuMS4xNjU3MzM5MDIyLjU2)
    no-repeat;
  height: 450px;
}

.bg-secondary {
  margin: 4.75rem 0;
}
